<div class="row">
    <button ng-click="auth('google')" class="btn btn-block btn-social btn-google" type="button">
        <span class="fa fa-google"></span> Sign in with Google</button>
</div>
<div class="row">
    <div class="text-center">
        <hr>
        Or
        <hr>
    </div>
</div>


<div class="row">
    <input type="text" ng-model="email" placeholder="Email" class="form-control">
    <input type="password" ng-model="password" placeholder="Password" class="form-control">
    <br>

    <div class="text-center">
        <div class="btn-group btn-group-lg">
            <button class="btn btn-default" ng-click="login()">Login</button>
            <button class="btn btn-default" ng-click="signUp()">Register</button>
        </div>
    </div>

</